a:link{text-decoration: none;
    color:green;
}

a:hover{text-decoration: none;
    color: red;
}
.spanstyle{
    color:orange
    
}
h2{
    color:blue;
}
#ThePoisonSky{
    background-color: rgb(160, 206, 247);
}
h1{
    color:white;
}
h3{
    background-color: yellow;
}
h4{
   background-color: green; 
}
h5{
    color:red;
}
#inferno{
    color:red;
}
.text{
    color:yellow;
}
.text2{
    background-color: rgb(109, 245, 109);
}
#thedockid{
    background-color: yellow;
}