body{
    background-color: rgb(242, 111, 111);
}
a{
    color:red;
}
h1{
    color:mediumblue;
}
h2{
    color:mediumblue;
}
h3{
    color:rgb(90, 220, 209);
}
b{
    color:rgb(96, 106, 243);
}
a:link{
    color:red;
}

a:hover{
    color:yellow;
}
a:visited{
    color:green;
}
#Basic-Infomations{
    color:aqua
}
.spanstyle{
    color:rgb(0, 255, 255);
}